//颜色定义规范
$color-background = #fff
$color-background-d = rgba(0,0,0,0.2)
$color-highlight-background = #c8c8c8
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)
$color-input-sign = #F1F1F1

//字体颜色
$color-icon-grey = #969696
$color-font-grey = #a0a0a0

//按钮颜色
$color-button-blue = #3194d0
$color-button-blue-hignlight = #2186f1


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
